<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICocktailService" maxReceivedMessageSize="16777216">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAdminService" maxReceivedMessageSize="16777216">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44300/Service/Impl/CocktailService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICocktailService"
                contract="CocktailServiceReference.ICocktailService" name="WSHttpBinding_ICocktailService" />
            <endpoint address="https://localhost:44300/Service/Impl/AdminService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdminService"
                contract="AdminServiceReference.IAdminService" name="WSHttpBinding_IAdminService" />
        </client>
    </system.serviceModel>
</configuration>