<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICocktailService" />
                <binding name="BasicHttpBinding_IAdminService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19609/Service/Impl/CocktailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICocktailService"
                contract="CocktailServiceReference.ICocktailService" name="BasicHttpBinding_ICocktailService" />
            <endpoint address="http://localhost:19609/Service/Impl/AdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="AdminServiceReference.IAdminService" name="BasicHttpBinding_IAdminService" />
        </client>
    </system.serviceModel>
</configuration>