<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="secureTransportBinding" maxReceivedMessageSize="16777216">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="16777216" maxStringContentLength="16777216"
                        maxArrayLength="16777216" maxBytesPerRead="16777216"
                        maxNameTableCharCount="16777216"/>
        </binding>
        <binding name="customSecurityBinding" maxReceivedMessageSize="16777216">
          <security mode="TransportWithMessageCredential" >
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxDepth="16777216" maxStringContentLength="16777216"
              maxArrayLength="16777216" maxBytesPerRead="16777216"
              maxNameTableCharCount="16777216"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="customSecurityServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="Cocktailizr.Auth.UserAuthentication, Cocktailizr" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Cocktailizr.Auth.AuthPolicy, Cocktailizr" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>

      <service name="Cocktailizr.Service.Impl.AdminService" behaviorConfiguration="customSecurityServiceBehavior">
        <endpoint address="" bindingConfiguration="customSecurityBinding"
                  binding="wsHttpBinding"
                  contract ="Cocktailizr.Service.IAdminService">
        </endpoint>
        <endpoint contract="IMetadataExchange"
              binding="mexHttpBinding"
              address="mex" />
      </service>

      <service name="Cocktailizr.Service.Impl.CocktailService" behaviorConfiguration="customSecurityServiceBehavior">
        <endpoint address="" bindingConfiguration="customSecurityBinding"
                  binding="wsHttpBinding"
                  contract ="Cocktailizr.Service.ICocktailService">
        </endpoint>
        <endpoint contract="IMetadataExchange"
              binding="mexHttpBinding"
              address="mex" />
      </service>
    </services>

  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add connectionString="mongodb://localhost" name="CocktailizrDb" providerName="MongoDB"/>
  </connectionStrings>
</configuration>
